@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: rgb(255, 255, 255, 1);
	font-weight: 500;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::-webkit-scrollbar {
	width: 0.65rem;
}

::-webkit-scrollbar-track {
	background-color: rgba(127, 127, 127, 1);
	border-radius: 50rem;
	margin-top: var(--scrollbarMargin);
	margin-bottom: var(--scrollbarMargin);
	margin-right: var(--scrollbarMargin);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(56, 56, 56, 1);
	border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(52, 52, 52);
	border: 50rem;
	transition: all 0.5s;
}

html {
	background-color: rgba(38, 38, 38, 1);
}

body {
	padding-top: 2rem;
	overflow: hidden;
}

#header {
	font-size: 3rem;
	padding-bottom: 3rem;
}

#match-board {
	background-image: url("field.svg");
	background-size: 30rem;
	background-position: center;
	background-repeat: no-repeat;
	height: 30rem;
}

#match-row1 {
	padding-top: 2rem;
	padding-left: auto;
	padding-right: auto;
}
#match-row2 {
	padding-top: 3.4rem;
	padding-left: auto;
	padding-right: auto;
}
#match-row3 {
	padding-top: 3rem;
	padding-left: auto;
	padding-right: auto;
}

#p0 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p1 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p2 {
	transition: 0.4s;
	width: 6rem;
}

#p3 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p4 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p5 {
	transition: 0.4s;
	width: 6rem;
}

#p6 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p7 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p8 {
	transition: 0.4s;
	width: 6rem;
}

#line-end {
	transition: 0.8s;
	background-color: rgb(89, 0, 116);
	left: 49%;
	top: 9.5rem;
	position: absolute;
	width: 2rem;
	height: 28rem;
	border-radius: 5rem;
}

.diagonal-right {
	top: 9rem !important;
	transform: rotate(45deg);
}

.diagonal-left {
	top: 9rem !important;
	transform: rotate(-45deg);
}

.horizontal {
	top: 9rem !important;
	transform: rotate(90deg);
}

.horizontal-top {
	top: 0rem !important;
	transform: rotate(90deg);
}

.horizontal-bottom {
	top: 17.5rem !important;
	transform: rotate(90deg);
}

.vertical-left {
	left: 40% !important;
}

.vertical-right {
	left: 57.7% !important;
}

.blank {
	height: 0rem !important;
}

#idk-how-the-fuck-i-should-call-this-please-let-me-out-of-your-basement {
	font-size: 3rem;
	padding-top: 3rem;
}

#winner {
	font-size: 2.5rem;
	padding-top: 1rem;
}

yellow {
	color: rgb(255, 255, 0);
}

#back-arrow {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#arrow-backplate {
	transition: 0.2s;
	background-color: rgb(209, 209, 209);
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 2rem;
	top: 1rem;
	border-radius: 1rem;
}

#arrow-backplate:hover {
	transition: 0.2s;
	transform: translate(0%) scale(0.8);
}

.back-arrow-ani {
	transition: 0.35s;
	left: -10rem !important;
}

#confettis {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
}

.confetti {
	left: 50%;
	width: 16px;
	height: 16px;
	position: absolute;
	transform-origin: left top;
	animation: confetti 5s ease-in-out -2s infinite;
}

@keyframes confetti {
	0% {
		transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
	}

	25% {
		transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
	}

	50% {
		transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
	}

	75% {
		transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
	}
	100% {
		transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
	}
}

.confetti:nth-child(1) {
	left: 10%;
	animation-delay: 0;
	background-color: #fc0120;
}

.confetti:nth-child(2) {
	left: 20%;
	animation-delay: -2.1s;
	background-color: #8257e6;
}

.confetti:nth-child(3) {
	left: 30%;
	animation-delay: -1s;
	background-color: #ffbf4d;
}

.confetti:nth-child(4) {
	left: 40%;
	animation-delay: -2.5s;
	background-color: #fe5d7a;
}

.confetti:nth-child(5) {
	left: 50%;
	animation-delay: -4s;
	background-color: #45ec9c;
}

.confetti:nth-child(6) {
	left: 60%;
	animation-delay: -3s;
	background-color: #f6e327;
}

.confetti:nth-child(7) {
	left: 70%;
	animation-delay: -0.5s;
	background-color: #f769ce;
}

.confetti:nth-child(8) {
	left: 80%;
	animation-delay: -0.2s;
	background-color: #007de7;
}

.confetti:nth-child(9) {
	left: 90%;
	animation-delay: -4s;
	background-color: #63b4fc;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -2s;
	background-color: #f9c4ea;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -6s;
	background-color: #f9c4ea;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -0.1s;
	background-color: #f9c4ea;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -0.5s;
	background-color: #f9c4ea;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -0.3s;
	background-color: #f9c4ea;
}

.confetti:nth-child(10) {
	left: 100%;
	animation-delay: -0.1s;
	background-color: #f9c4ea;
}
