@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: rgb(255, 255, 255, 1);
	font-weight: 500;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

html {
	background-color: rgba(38, 38, 38, 1);
}

body {
	padding-top: 2rem;
	overflow: hidden;
}

#header {
	font-size: 5rem;
}

#name-input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#name-input-field {
	transition: 0.3s;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 1.5rem;
	width: 20rem;
	height: 2rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	border-color: transparent;
	margin-bottom: 2rem;
	color: rgba(38, 38, 38, 1);
}

#name-input-field:hover {
	transition: 0.3s;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(1, 1, 1, 0.432);
	border-color: rgb(0, 217, 255);
}

#name-input-field:focus {
	transition: 0.5s;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(1, 1, 1, 0.432);
	border-color: rgb(0, 60, 255);
	outline: none;
}

#name-input-header {
	font-size: 2rem;
	margin-bottom: 1rem;
}

#name-input-login-button {
	transition: 0.3s;
	font-size: 1.9rem;
	width: 12rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	border-color: transparent;
	background-color: rgb(130, 0, 255);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#custom-server-input-header {
	margin-bottom: 3rem;
}

#custom-server-current {
	font-size: 2rem;
	margin-bottom: 2rem;
	color: rgb(150, 150, 150);
}

#custom-server-current::before {
	content: "Current: ";
}

#custom-server-input-field {
	transition: 0.3s;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 1.5rem;
	width: 20rem;
	height: 2rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	border-color: transparent;
	margin-bottom: 2rem;
	color: rgba(38, 38, 38, 1);
}

#custom-server-input-field:hover {
	transition: 0.3s;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(1, 1, 1, 0.432);
	border-color: rgb(0, 217, 255);
}

#custom-server-input-field:focus {
	transition: 0.5s;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(1, 1, 1, 0.432);
	border-color: rgb(0, 60, 255);
	outline: none;
}

#custom-server-input-login-button {
	transition: 0.3s;
	font-size: 1.9rem;
	width: 15rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	border-color: transparent;
	background-color: rgb(0, 89, 255);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#custom-server-input-login-button:hover {
	transition: 0.3s;
	width: 14rem;
	background-color: rgb(0, 183, 255);
}

#custom-server-admin {
	transition: 0.3s;
	font-size: 1.9rem;
	opacity: 0;
	width: 15rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	border-color: transparent;
	background-color: rgb(0, 89, 255);
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#custom-server-admin:hover {
	transition: 0.3s;
	width: 14rem;
	opacity: 1;
}

#name-input-login-button:hover {
	transition: 0.3s;
	width: 10rem;
	background-color: rgb(0, 102, 255);
}

#custom-server-input {
	transition: 0.4s;
	--padding: 10rem;
	background-color: rgb(27, 27, 27);
	position: absolute;
	width: calc(var(--padding) * 7);
	height: 20rem;
	margin-top: 2rem;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	border-radius: 3rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#custom-server-input.hidden {
	transition: 0.3s;
	top: 150%;
}

#credits {
	color: rgb(109, 109, 109);
}

#custom-server-input-close {
	background-color: rgb(39, 39, 39);
	padding: 1rem 1rem;
	border-radius: 5rem;
	transition: 0.4s;
	position: absolute;
	width: 2rem;
	top: 1.5rem;
	right: 1.5rem;
}

#custom-server-input-close:hover {
	transition: 0.4s;
	background-color: rgb(73, 73, 73);
	transform: rotate(180deg);
}

#toggle-server-input {
	transition: 0.3s;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
}

#toggle-server-input:hover {
	transition: 0.3s;
	bottom: 1.5rem;
	right: 1.5rem;
	width: 5rem;
}

.login-success {
	transition: 0.3s;
	border: solid rgb(0, 255, 21) !important;
}

.login-failed {
	transition: 0.3s;
	border: solid rgb(255, 0, 0) !important;
}

@media (max-width: 1330px) {

	#header {
		margin-top: 5%;
		font-size: 3rem;
	}
	

	#custom-server-current {
		font-size: 1rem;
		margin-bottom: 3rem;
		color: rgb(150, 150, 150);
	}

	#custom-server-input {
		width: 90%;
		height: 10%;
		font-size: 1rem;
		top: 50%;
		padding-top: 10%;
		padding-bottom: 20%;
	}

	#custom-server-input.hidden {
		transition: 0.4s;
		top: 300%;
	}

	#custom-server-input-login-button {
		transition: 0.3s;
		font-size: 1.9rem;
		width: 15rem;
		height: 3rem;
	}

	body {
		padding-top: 2rem;
		overflow: hidden;
	}
}

@media (max-width: 1020px) {
	#custom-server-input {
		padding-top:10%;
		padding-bottom: 40%;
	}
}

@media (max-width: 570px) {
	#custom-server-input {
		font-size: 0.6rem;
		padding-top:10%;
		padding-bottom: 60%;
	}

	#custom-server-input-header {
		text-align: left;
		margin-left: 12%;
	}
}