@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: rgb(255, 255, 255, 1);
	font-weight: 500;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

html {
	overflow: hidden;
	background-color: rgba(38, 38, 38, 1);
}

body {
	padding-top: 2rem;
}

#header {
	font-size: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 5rem;
}

#match-board {
	background-image: url('field.svg');
	background-size: 30rem;
	background-position: center;
	background-repeat: no-repeat;
	height: 30rem;
}

#match-row1 {
	padding-top: 2rem;
	padding-left: auto;
	padding-right: auto;
}
#match-row2 {
	padding-top: 3.4rem;
	padding-left: auto;
	padding-right: auto;
}
#match-row3 {
	padding-top: 3rem;
	padding-left: auto;
	padding-right: auto;
}

#p0 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p1 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p2 {
	transition: 0.4s;
	width: 6rem;
}

#p3 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p4 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p5 {
	transition: 0.4s;
	width: 6rem;
}

#p6 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p7 {
	transition: 0.4s;
	width: 6rem;
	padding-right: 3rem;
}

#p8 {
	transition: 0.4s;
	width: 6rem;
}

.blank {
	transform:translate(0%) scale(1.5);
}

#turn{
	color: rgb(167, 167, 167);
	display: contents;
}

#turn-name{
	color: rgb(255, 187, 0);
	display: contents;
}

.turn-you {
	display: contents;
color: rgb(0, 255, 0) !important;
}

#turn-text {
	margin-top: 4rem;
}

#back-arrow {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#arrow-backplate {
	transition: 0.2s;
	background-color: rgb(209, 209, 209);
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 2rem;
	top: 1rem;
	border-radius: 1rem;
}

#arrow-backplate:hover {
	transition: 0.2s;
	transform: translate(0%) scale(0.8);
}

.back-arrow-ani {
	transition: 0.35s;
	left: -10rem !important;
}