@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: rgb(255, 255, 255, 1);
	font-weight: 500;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::-webkit-scrollbar {
	width: 0.65rem;
}

::-webkit-scrollbar-track {
	background-color: rgba(127, 127, 127, 1);
	border-radius: 50rem;
	margin-top: var(--scrollbarMargin);
	margin-bottom: var(--scrollbarMargin);
	margin-right: var(--scrollbarMargin);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(56, 56, 56, 1);
	border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(52, 52, 52);
	border: 50rem;
	transition: all 0.5s;
}

html {
	background-color: rgba(38, 38, 38, 1);
}

body {
	padding-top: 2rem;
}

#header {
	font-size: 3rem;
	padding-bottom: 3rem;
}

.user {
	transition: 0.2s;
	background-color: rgb(66, 66, 66);
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-bottom: 2rem;
	margin-left: 10rem;
	margin-right: 10rem;
	border-radius: 1rem;
	border-style: solid;
	border-color: transparent;
}

.user:hover {
	transition: 0.2s;
	background-color: rgb(99, 99, 99);
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(1, 1, 1, 0.432);
}

.username {
	position: absolute;
	margin-bottom: 1rem;
	text-overflow: ellipsis;
	padding-right: 40rem;
}

.user-status {
	text-align: right;
}

.status-searching {
	color: rgb(255, 196, 0);
}

.status-inMatch {
	color: rgb(156, 0, 0);
}

.status-challengedYou {
	color: rgb(0, 195, 255);
}

.status-youChallenged {
	color: rgb(0, 201, 0);
}

.challenge-failed {
	transition: 0.2s;
	border: solid rgb(255, 0, 0) !important;
}

#back-arrow {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#arrow-backplate {
	transition: 0.2s;
	background-color: rgb(209, 209, 209);
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 2rem;
	top: 1rem;
	border-radius: 1rem;
}

#arrow-backplate:hover {
	transition: 0.2s;
	transform: translate(0%) scale(0.8);
}

.back-arrow-ani {
	transition: 0.35s;
	left: -10rem !important;
}

#waiting-no-players {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
	color: rgb(255, 255, 255, 0.5);
}

@media (max-width: 790px) {
	#back-arrow {
		position: absolute;
		left: 0.5rem;
		bottom: 0.5rem;
		width: 5rem;
		height: 5rem;
	}
	
	#arrow-backplate {
		transition: 0.2s;
		background-color: rgb(209, 209, 209);
		position: absolute;
		width: 6rem;
		height: 6rem;
		left: 2rem;
		top: 87%;
		border-radius: 1rem;
	}

	.user {
		transition: 0.2s;
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 0.6rem;
	}
}